.btn-danger {color:#fff;background-color:#fd397a;border-color:#fd397a;}
  .btn-danger:hover {color:#fff;background-color:#fd1361;border-color:#fc0758;}
  .btn-danger:focus, .btn-danger.focus {box-shadow:0 0 0 0.2rem rgba(253, 87, 142, 0.5);}
  .btn-danger.disabled, .btn-danger:disabled {color:#fff;background-color:#fd397a;border-color:#fd397a;}
  .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
  .show > .btn-danger.dropdown-toggle {color:#fff;background-color:#fc0758;border-color:#f40252;}
    .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
    .show > .btn-danger.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(253, 87, 142, 0.5);}

.btn-outline-danger {color:#fd397a;border-color:#fd397a;}
  .btn-outline-danger:hover {color:#fff;background-color:#fd397a;border-color:#fd397a;}
  .btn-outline-danger:focus, .btn-outline-danger.focus {box-shadow:0 0 0 0.2rem rgba(253, 57, 122, 0.5);}
  .btn-outline-danger.disabled, .btn-outline-danger:disabled {color:#fd397a;background-color:transparent;}
  .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
  .show > .btn-outline-danger.dropdown-toggle {color:#fff;background-color:#fd397a;border-color:#fd397a;}
    .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-danger.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(253, 57, 122, 0.5);}

.btn-danger {color:#fff;background-color:#fd397a;border-color:#fd397a;color:#ffffff;}
  .btn-danger:hover {color:#fff;background-color:#fd1361;border-color:#fc0758;}
  .btn-danger:focus, .btn-danger.focus {box-shadow:0 0 0 0.2rem rgba(253, 87, 142, 0.5);}
  .btn-danger.disabled, .btn-danger:disabled {color:#fff;background-color:#fd397a;border-color:#fd397a;}
  .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
  .show > .btn-danger.dropdown-toggle {color:#fff;background-color:#fc0758;border-color:#f40252;}
    .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
    .show > .btn-danger.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(253, 87, 142, 0.5);}
  .btn-danger + .btn.dropdown-toggle {position:relative;}
    .btn-danger + .btn.dropdown-toggle:before {display:block;content:' ';border-left:1px solid #ffffff;position:absolute;top:3px;left:-1px;bottom:3px;opacity:0.3;}
    .btn-danger + .btn.dropdown-toggle:hover:before, .btn-danger + .btn.dropdown-toggle:focus:before, .btn-danger + .btn.dropdown-toggle.active:before {display:none;}

.btn-outline-danger {color:#fd397a;border-color:#fd397a;}
  .btn-outline-danger:hover {color:#ffffff;background-color:#fd397a;border-color:#fd397a;}
  .btn-outline-danger:focus, .btn-outline-danger.focus {box-shadow:0 0 0 0.2rem rgba(253, 57, 122, 0.5);}
  .btn-outline-danger.disabled, .btn-outline-danger:disabled {color:#fd397a;background-color:transparent;}
  .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
  .show > .btn-outline-danger.dropdown-toggle {color:#fff;background-color:#fd397a;border-color:#fd397a;}
    .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-danger.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(253, 57, 122, 0.5);}

.show > .btn-hover-danger, .btn-hover-danger.active, .btn-hover-danger:active, .btn-hover-danger:hover {color:#ffffff;background-color:#fd397a;border-color:#fd397a;}
.btn-outline-hover-danger.btn-clean {border:1px solid transparent;}
.show > .btn-outline-hover-danger, .btn-outline-hover-danger.active, .btn-outline-hover-danger:active, .btn-outline-hover-danger:hover {color:#fd397a;border-color:#fd397a;background-color:transparent;}

.btn-font-danger {color:#fd397a;}
.show > .btn-font-hover-danger, .btn-font-hover-danger.active, .btn-font-hover-danger:active, .btn-font-hover-danger:hover {color:#fd397a;}

.btn.btn-danger.btn-elevate {box-shadow:0px 4px 16px 0px rgba(253, 57, 122, 0.15);}
  .show > .btn.btn-danger.btn-elevate, .btn.btn-danger.btn-elevate:focus, .btn.btn-danger.btn-elevate.active, .btn.btn-danger.btn-elevate:active, .btn.btn-danger.btn-elevate:hover {box-shadow:0px 9px 16px 0px rgba(253, 57, 122, 0.25) !important;}
    .show > .btn.btn-danger.btn-elevate.btn-sm, .btn-group-sm.show > .btn.btn-danger.btn-elevate, .btn.btn-danger.btn-elevate:focus.btn-sm, .btn-group-sm > .btn.btn-danger.btn-elevate:focus, .btn.btn-danger.btn-elevate.active.btn-sm, .btn-group-sm > .btn.btn-danger.btn-elevate.active, .btn.btn-danger.btn-elevate:active.btn-sm, .btn-group-sm > .btn.btn-danger.btn-elevate:active, .btn.btn-danger.btn-elevate:hover.btn-sm, .btn-group-sm > .btn.btn-danger.btn-elevate:hover {box-shadow:0px 6px 16px 0px rgba(253, 57, 122, 0.25) !important;}

.show > .btn.btn-danger.btn-elevate-hover, .btn.btn-danger.btn-elevate-hover.active, .btn.btn-danger.btn-elevate-hover:focus, .btn.btn-danger.btn-elevate-hover:active, .btn.btn-danger.btn-elevate-hover:hover {box-shadow:0px 9px 16px 0px rgba(253, 57, 122, 0.25) !important;}
  .show > .btn.btn-danger.btn-elevate-hover.btn-sm, .btn-group-sm.show > .btn.btn-danger.btn-elevate-hover, .btn.btn-danger.btn-elevate-hover.active.btn-sm, .btn-group-sm > .btn.btn-danger.btn-elevate-hover.active, .btn.btn-danger.btn-elevate-hover:focus.btn-sm, .btn-group-sm > .btn.btn-danger.btn-elevate-hover:focus, .btn.btn-danger.btn-elevate-hover:active.btn-sm, .btn-group-sm > .btn.btn-danger.btn-elevate-hover:active, .btn.btn-danger.btn-elevate-hover:hover.btn-sm, .btn-group-sm > .btn.btn-danger.btn-elevate-hover:hover {box-shadow:0px 6px 16px 0px rgba(253, 57, 122, 0.25) !important;}

.btn.btn-label-danger {background-color:rgba(253, 57, 122, 0.1);color:#fd397a;cursor:text !important;}

.btn.btn-label-danger-o2 {background-color:rgba(253, 57, 122, 0.2);color:#fd397a;cursor:text !important;}

a.btn.btn-label-danger,
button.btn.btn-label-danger,
input.btn.btn-label-danger {cursor:pointer !important;}
  a.btn.btn-label-danger:focus, a.btn.btn-label-danger:hover, a.btn.btn-label-danger.active,
  button.btn.btn-label-danger:focus,
  button.btn.btn-label-danger:hover,
  button.btn.btn-label-danger.active,
  input.btn.btn-label-danger:focus,
  input.btn.btn-label-danger:hover,
  input.btn.btn-label-danger.active {background-color:#fd397a;color:#ffffff;}

  .btn.btn-icon.btn-danger i {color:#ffffff;}
  .btn.btn-icon.btn-danger:focus i, .btn.btn-icon.btn-danger:hover i, .btn.btn-icon.btn-danger.active i {color:#ffffff;}