.btn-light {color:#212529;background-color:#f8f9fa;border-color:#f8f9fa;}
  .btn-light:hover {color:#212529;background-color:#e2e6ea;border-color:#dae0e5;}
  .btn-light:focus, .btn-light.focus {box-shadow:0 0 0 0.2rem rgba(216, 217, 219, 0.5);}
  .btn-light.disabled, .btn-light:disabled {color:#212529;background-color:#f8f9fa;border-color:#f8f9fa;}
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
  .show > .btn-light.dropdown-toggle {color:#212529;background-color:#dae0e5;border-color:#d3d9df;}
    .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
    .show > .btn-light.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(216, 217, 219, 0.5);}

.btn-outline-light {color:#f8f9fa;border-color:#f8f9fa;}
  .btn-outline-light:hover {color:#212529;background-color:#f8f9fa;border-color:#f8f9fa;}
  .btn-outline-light:focus, .btn-outline-light.focus {box-shadow:0 0 0 0.2rem rgba(248, 249, 250, 0.5);}
  .btn-outline-light.disabled, .btn-outline-light:disabled {color:#f8f9fa;background-color:transparent;}
  .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
  .show > .btn-outline-light.dropdown-toggle {color:#212529;background-color:#f8f9fa;border-color:#f8f9fa;}
    .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-light.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(248, 249, 250, 0.5);}

.btn-light {color:#212529;background-color:#ffffff;border-color:#ffffff;color:#282a3c;}
  .btn-light:hover {color:#212529;background-color:#ececec;border-color:#e6e6e6;}
  .btn-light:focus, .btn-light.focus {box-shadow:0 0 0 0.2rem rgba(222, 222, 223, 0.5);}
  .btn-light.disabled, .btn-light:disabled {color:#212529;background-color:#ffffff;border-color:#ffffff;}
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
  .show > .btn-light.dropdown-toggle {color:#212529;background-color:#e6e6e6;border-color:#dfdfdf;}
    .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
    .show > .btn-light.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(222, 222, 223, 0.5);}
  .show > .btn-light.dropdown-toggle, .btn-light:focus, .btn-light.active, .btn-light:active, .btn-light:hover {background-color:#f7f8fa;border-color:#f7f8fa;}
  .btn-light + .btn.dropdown-toggle {position:relative;}
    .btn-light + .btn.dropdown-toggle:before {display:block;content:' ';border-left:1px solid #282a3c;position:absolute;top:3px;left:-1px;bottom:3px;opacity:0.3;}
    .btn-light + .btn.dropdown-toggle:hover:before, .btn-light + .btn.dropdown-toggle:focus:before, .btn-light + .btn.dropdown-toggle.active:before {display:none;}

.btn-outline-light {color:#ffffff;border-color:#ffffff;}
  .btn-outline-light:hover {color:#282a3c;background-color:#ffffff;border-color:#ffffff;}
  .btn-outline-light:focus, .btn-outline-light.focus {box-shadow:0 0 0 0.2rem rgba(255, 255, 255, 0.5);}
  .btn-outline-light.disabled, .btn-outline-light:disabled {color:#ffffff;background-color:transparent;}
  .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
  .show > .btn-outline-light.dropdown-toggle {color:#212529;background-color:#ffffff;border-color:#ffffff;}
    .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-light.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(255, 255, 255, 0.5);}

.show > .btn-hover-light, .btn-hover-light.active, .btn-hover-light:active, .btn-hover-light:hover {color:#282a3c;background-color:#ffffff;border-color:#ffffff;}
.btn-outline-hover-light.btn-clean {border:1px solid transparent;}
.show > .btn-outline-hover-light, .btn-outline-hover-light.active, .btn-outline-hover-light:active, .btn-outline-hover-light:hover {color:#ffffff;border-color:#ffffff;background-color:transparent;}

.btn-font-light {color:#ffffff;}
.show > .btn-font-hover-light, .btn-font-hover-light.active, .btn-font-hover-light:active, .btn-font-hover-light:hover {color:#ffffff;}

.btn.btn-light.btn-elevate {box-shadow:0px 4px 16px 0px rgba(153, 153, 153, 0.15);}
  .show > .btn.btn-light.btn-elevate, .btn.btn-light.btn-elevate:focus, .btn.btn-light.btn-elevate.active, .btn.btn-light.btn-elevate:active, .btn.btn-light.btn-elevate:hover {box-shadow:0px 9px 16px 0px rgba(153, 153, 153, 0.25) !important;background-color:transparent;border-color:transparent;}
    .show > .btn.btn-light.btn-elevate.btn-sm, .btn-group-sm.show > .btn.btn-light.btn-elevate, .btn.btn-light.btn-elevate:focus.btn-sm, .btn-group-sm > .btn.btn-light.btn-elevate:focus, .btn.btn-light.btn-elevate.active.btn-sm, .btn-group-sm > .btn.btn-light.btn-elevate.active, .btn.btn-light.btn-elevate:active.btn-sm, .btn-group-sm > .btn.btn-light.btn-elevate:active, .btn.btn-light.btn-elevate:hover.btn-sm, .btn-group-sm > .btn.btn-light.btn-elevate:hover {box-shadow:0px 6px 16px 0px rgba(153, 153, 153, 0.25) !important;}

.show > .btn.btn-light.btn-elevate-hover, .btn.btn-light.btn-elevate-hover.active, .btn.btn-light.btn-elevate-hover:focus, .btn.btn-light.btn-elevate-hover:active, .btn.btn-light.btn-elevate-hover:hover {box-shadow:0px 9px 16px 0px rgba(153, 153, 153, 0.25) !important;background-color:transparent;border-color:transparent;}
  .show > .btn.btn-light.btn-elevate-hover.btn-sm, .btn-group-sm.show > .btn.btn-light.btn-elevate-hover, .btn.btn-light.btn-elevate-hover.active.btn-sm, .btn-group-sm > .btn.btn-light.btn-elevate-hover.active, .btn.btn-light.btn-elevate-hover:focus.btn-sm, .btn-group-sm > .btn.btn-light.btn-elevate-hover:focus, .btn.btn-light.btn-elevate-hover:active.btn-sm, .btn-group-sm > .btn.btn-light.btn-elevate-hover:active, .btn.btn-light.btn-elevate-hover:hover.btn-sm, .btn-group-sm > .btn.btn-light.btn-elevate-hover:hover {box-shadow:0px 6px 16px 0px rgba(153, 153, 153, 0.25) !important;}

.btn.btn-label-light {background-color:rgba(255, 255, 255, 0.1);color:#ffffff;cursor:text !important;}

.btn.btn-label-light-o2 {background-color:rgba(255, 255, 255, 0.2);color:#ffffff;cursor:text !important;}

a.btn.btn-label-light,
button.btn.btn-label-light,
input.btn.btn-label-light {cursor:pointer !important;}
  a.btn.btn-label-light:focus, a.btn.btn-label-light:hover, a.btn.btn-label-light.active,
  button.btn.btn-label-light:focus,
  button.btn.btn-label-light:hover,
  button.btn.btn-label-light.active,
  input.btn.btn-label-light:focus,
  input.btn.btn-label-light:hover,
  input.btn.btn-label-light.active {background-color:#ffffff;color:#282a3c;}

  .btn.btn-icon.btn-light i {color:#282a3c;}
  .btn.btn-icon.btn-light:focus i, .btn.btn-icon.btn-light:hover i, .btn.btn-icon.btn-light.active i {color:#282a3c;}