.btn-warning {color:#212529;background-color:#ffb822;border-color:#ffb822;}
  .btn-warning:hover {color:#212529;background-color:#fbaa00;border-color:#eea200;}
  .btn-warning:focus, .btn-warning.focus {box-shadow:0 0 0 0.2rem rgba(222, 162, 35, 0.5);}
  .btn-warning.disabled, .btn-warning:disabled {color:#212529;background-color:#ffb822;border-color:#ffb822;}
  .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
  .show > .btn-warning.dropdown-toggle {color:#212529;background-color:#eea200;border-color:#e19900;}
    .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
    .show > .btn-warning.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(222, 162, 35, 0.5);}

.btn-outline-warning {color:#ffb822;border-color:#ffb822;}
  .btn-outline-warning:hover {color:#212529;background-color:#ffb822;border-color:#ffb822;}
  .btn-outline-warning:focus, .btn-outline-warning.focus {box-shadow:0 0 0 0.2rem rgba(255, 184, 34, 0.5);}
  .btn-outline-warning.disabled, .btn-outline-warning:disabled {color:#ffb822;background-color:transparent;}
  .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
  .show > .btn-outline-warning.dropdown-toggle {color:#212529;background-color:#ffb822;border-color:#ffb822;}
    .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-warning.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(255, 184, 34, 0.5);}

.btn-warning {color:#212529;background-color:#ffb822;border-color:#ffb822;color:#111111;}
  .btn-warning:hover {color:#212529;background-color:#fbaa00;border-color:#eea200;}
  .btn-warning:focus, .btn-warning.focus {box-shadow:0 0 0 0.2rem rgba(222, 162, 35, 0.5);}
  .btn-warning.disabled, .btn-warning:disabled {color:#212529;background-color:#ffb822;border-color:#ffb822;}
  .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
  .show > .btn-warning.dropdown-toggle {color:#212529;background-color:#eea200;border-color:#e19900;}
    .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
    .show > .btn-warning.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(222, 162, 35, 0.5);}
  .btn-warning + .btn.dropdown-toggle {position:relative;}
    .btn-warning + .btn.dropdown-toggle:before {display:block;content:' ';border-left:1px solid #111111;position:absolute;top:3px;left:-1px;bottom:3px;opacity:0.3;}
    .btn-warning + .btn.dropdown-toggle:hover:before, .btn-warning + .btn.dropdown-toggle:focus:before, .btn-warning + .btn.dropdown-toggle.active:before {display:none;}

.btn-outline-warning {color:#ffb822;border-color:#ffb822;}
  .btn-outline-warning:hover {color:#111111;background-color:#ffb822;border-color:#ffb822;}
  .btn-outline-warning:focus, .btn-outline-warning.focus {box-shadow:0 0 0 0.2rem rgba(255, 184, 34, 0.5);}
  .btn-outline-warning.disabled, .btn-outline-warning:disabled {color:#ffb822;background-color:transparent;}
  .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
  .show > .btn-outline-warning.dropdown-toggle {color:#212529;background-color:#ffb822;border-color:#ffb822;}
    .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-warning.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(255, 184, 34, 0.5);}

.show > .btn-hover-warning, .btn-hover-warning.active, .btn-hover-warning:active, .btn-hover-warning:hover {color:#111111;background-color:#ffb822;border-color:#ffb822;}
.btn-outline-hover-warning.btn-clean {border:1px solid transparent;}
.show > .btn-outline-hover-warning, .btn-outline-hover-warning.active, .btn-outline-hover-warning:active, .btn-outline-hover-warning:hover {color:#ffb822;border-color:#ffb822;background-color:transparent;}

.btn-font-warning {color:#ffb822;}
.show > .btn-font-hover-warning, .btn-font-hover-warning.active, .btn-font-hover-warning:active, .btn-font-hover-warning:hover {color:#ffb822;}

.btn.btn-warning.btn-elevate {box-shadow:0px 4px 16px 0px rgba(255, 184, 34, 0.15);}
  .show > .btn.btn-warning.btn-elevate, .btn.btn-warning.btn-elevate:focus, .btn.btn-warning.btn-elevate.active, .btn.btn-warning.btn-elevate:active, .btn.btn-warning.btn-elevate:hover {box-shadow:0px 9px 16px 0px rgba(255, 184, 34, 0.25) !important;}
    .show > .btn.btn-warning.btn-elevate.btn-sm, .btn-group-sm.show > .btn.btn-warning.btn-elevate, .btn.btn-warning.btn-elevate:focus.btn-sm, .btn-group-sm > .btn.btn-warning.btn-elevate:focus, .btn.btn-warning.btn-elevate.active.btn-sm, .btn-group-sm > .btn.btn-warning.btn-elevate.active, .btn.btn-warning.btn-elevate:active.btn-sm, .btn-group-sm > .btn.btn-warning.btn-elevate:active, .btn.btn-warning.btn-elevate:hover.btn-sm, .btn-group-sm > .btn.btn-warning.btn-elevate:hover {box-shadow:0px 6px 16px 0px rgba(255, 184, 34, 0.25) !important;}

.show > .btn.btn-warning.btn-elevate-hover, .btn.btn-warning.btn-elevate-hover.active, .btn.btn-warning.btn-elevate-hover:focus, .btn.btn-warning.btn-elevate-hover:active, .btn.btn-warning.btn-elevate-hover:hover {box-shadow:0px 9px 16px 0px rgba(255, 184, 34, 0.25) !important;}
  .show > .btn.btn-warning.btn-elevate-hover.btn-sm, .btn-group-sm.show > .btn.btn-warning.btn-elevate-hover, .btn.btn-warning.btn-elevate-hover.active.btn-sm, .btn-group-sm > .btn.btn-warning.btn-elevate-hover.active, .btn.btn-warning.btn-elevate-hover:focus.btn-sm, .btn-group-sm > .btn.btn-warning.btn-elevate-hover:focus, .btn.btn-warning.btn-elevate-hover:active.btn-sm, .btn-group-sm > .btn.btn-warning.btn-elevate-hover:active, .btn.btn-warning.btn-elevate-hover:hover.btn-sm, .btn-group-sm > .btn.btn-warning.btn-elevate-hover:hover {box-shadow:0px 6px 16px 0px rgba(255, 184, 34, 0.25) !important;}

.btn.btn-label-warning {background-color:rgba(255, 184, 34, 0.1);color:#ffb822;cursor:text !important;}

.btn.btn-label-warning-o2 {background-color:rgba(255, 184, 34, 0.2);color:#ffb822;cursor:text !important;}

a.btn.btn-label-warning,
button.btn.btn-label-warning,
input.btn.btn-label-warning {cursor:pointer !important;}
  a.btn.btn-label-warning:focus, a.btn.btn-label-warning:hover, a.btn.btn-label-warning.active,
  button.btn.btn-label-warning:focus,
  button.btn.btn-label-warning:hover,
  button.btn.btn-label-warning.active,
  input.btn.btn-label-warning:focus,
  input.btn.btn-label-warning:hover,
  input.btn.btn-label-warning.active {background-color:#ffb822;color:#111111;}

  .btn.btn-icon.btn-warning i {color:#111111;}
  .btn.btn-icon.btn-warning:focus i, .btn.btn-icon.btn-warning:hover i, .btn.btn-icon.btn-warning.active i {color:#111111;}