.btn-dark {color:#fff;background-color:#343a40;border-color:#343a40;}
  .btn-dark:hover {color:#fff;background-color:#23272b;border-color:#1d2124;}
  .btn-dark:focus, .btn-dark.focus {box-shadow:0 0 0 0.2rem rgba(82, 88, 93, 0.5);}
  .btn-dark.disabled, .btn-dark:disabled {color:#fff;background-color:#343a40;border-color:#343a40;}
  .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
  .show > .btn-dark.dropdown-toggle {color:#fff;background-color:#1d2124;border-color:#171a1d;}
    .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
    .show > .btn-dark.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(82, 88, 93, 0.5);}

.btn-outline-dark {color:#343a40;border-color:#343a40;}
  .btn-outline-dark:hover {color:#fff;background-color:#343a40;border-color:#343a40;}
  .btn-outline-dark:focus, .btn-outline-dark.focus {box-shadow:0 0 0 0.2rem rgba(52, 58, 64, 0.5);}
  .btn-outline-dark.disabled, .btn-outline-dark:disabled {color:#343a40;background-color:transparent;}
  .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
  .show > .btn-outline-dark.dropdown-toggle {color:#fff;background-color:#343a40;border-color:#343a40;}
    .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-dark.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(52, 58, 64, 0.5);}

.btn-dark {color:#fff;background-color:#282a3c;border-color:#282a3c;color:#ffffff;}
  .btn-dark:hover {color:#fff;background-color:#191a25;border-color:#14151d;}
  .btn-dark:focus, .btn-dark.focus {box-shadow:0 0 0 0.2rem rgba(72, 74, 89, 0.5);}
  .btn-dark.disabled, .btn-dark:disabled {color:#fff;background-color:#282a3c;border-color:#282a3c;}
  .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
  .show > .btn-dark.dropdown-toggle {color:#fff;background-color:#14151d;border-color:#0f0f16;}
    .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
    .show > .btn-dark.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(72, 74, 89, 0.5);}
  .btn-dark + .btn.dropdown-toggle {position:relative;}
    .btn-dark + .btn.dropdown-toggle:before {display:block;content:' ';border-left:1px solid #ffffff;position:absolute;top:3px;left:-1px;bottom:3px;opacity:0.3;}
    .btn-dark + .btn.dropdown-toggle:hover:before, .btn-dark + .btn.dropdown-toggle:focus:before, .btn-dark + .btn.dropdown-toggle.active:before {display:none;}

.btn-outline-dark {color:#282a3c;border-color:#282a3c;}
  .btn-outline-dark:hover {color:#ffffff;background-color:#282a3c;border-color:#282a3c;}
  .btn-outline-dark:focus, .btn-outline-dark.focus {box-shadow:0 0 0 0.2rem rgba(40, 42, 60, 0.5);}
  .btn-outline-dark.disabled, .btn-outline-dark:disabled {color:#282a3c;background-color:transparent;}
  .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
  .show > .btn-outline-dark.dropdown-toggle {color:#fff;background-color:#282a3c;border-color:#282a3c;}
    .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-dark.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(40, 42, 60, 0.5);}

.show > .btn-hover-dark, .btn-hover-dark.active, .btn-hover-dark:active, .btn-hover-dark:hover {color:#ffffff;background-color:#282a3c;border-color:#282a3c;}
.btn-outline-hover-dark.btn-clean {border:1px solid transparent;}
.show > .btn-outline-hover-dark, .btn-outline-hover-dark.active, .btn-outline-hover-dark:active, .btn-outline-hover-dark:hover {color:#282a3c;border-color:#282a3c;background-color:transparent;}

.btn-font-dark {color:#282a3c;}
.show > .btn-font-hover-dark, .btn-font-hover-dark.active, .btn-font-hover-dark:active, .btn-font-hover-dark:hover {color:#282a3c;}

.btn.btn-dark.btn-elevate {box-shadow:0px 4px 16px 0px rgba(40, 42, 60, 0.15);}
  .show > .btn.btn-dark.btn-elevate, .btn.btn-dark.btn-elevate:focus, .btn.btn-dark.btn-elevate.active, .btn.btn-dark.btn-elevate:active, .btn.btn-dark.btn-elevate:hover {box-shadow:0px 9px 16px 0px rgba(40, 42, 60, 0.25) !important;}
    .show > .btn.btn-dark.btn-elevate.btn-sm, .btn-group-sm.show > .btn.btn-dark.btn-elevate, .btn.btn-dark.btn-elevate:focus.btn-sm, .btn-group-sm > .btn.btn-dark.btn-elevate:focus, .btn.btn-dark.btn-elevate.active.btn-sm, .btn-group-sm > .btn.btn-dark.btn-elevate.active, .btn.btn-dark.btn-elevate:active.btn-sm, .btn-group-sm > .btn.btn-dark.btn-elevate:active, .btn.btn-dark.btn-elevate:hover.btn-sm, .btn-group-sm > .btn.btn-dark.btn-elevate:hover {box-shadow:0px 6px 16px 0px rgba(40, 42, 60, 0.25) !important;}

.show > .btn.btn-dark.btn-elevate-hover, .btn.btn-dark.btn-elevate-hover.active, .btn.btn-dark.btn-elevate-hover:focus, .btn.btn-dark.btn-elevate-hover:active, .btn.btn-dark.btn-elevate-hover:hover {box-shadow:0px 9px 16px 0px rgba(40, 42, 60, 0.25) !important;}
  .show > .btn.btn-dark.btn-elevate-hover.btn-sm, .btn-group-sm.show > .btn.btn-dark.btn-elevate-hover, .btn.btn-dark.btn-elevate-hover.active.btn-sm, .btn-group-sm > .btn.btn-dark.btn-elevate-hover.active, .btn.btn-dark.btn-elevate-hover:focus.btn-sm, .btn-group-sm > .btn.btn-dark.btn-elevate-hover:focus, .btn.btn-dark.btn-elevate-hover:active.btn-sm, .btn-group-sm > .btn.btn-dark.btn-elevate-hover:active, .btn.btn-dark.btn-elevate-hover:hover.btn-sm, .btn-group-sm > .btn.btn-dark.btn-elevate-hover:hover {box-shadow:0px 6px 16px 0px rgba(40, 42, 60, 0.25) !important;}

.btn.btn-label-dark {background-color:rgba(40, 42, 60, 0.1);color:#282a3c;cursor:text !important;}

.btn.btn-label-dark-o2 {background-color:rgba(40, 42, 60, 0.2);color:#282a3c;cursor:text !important;}

a.btn.btn-label-dark,
button.btn.btn-label-dark,
input.btn.btn-label-dark {cursor:pointer !important;}
  a.btn.btn-label-dark:focus, a.btn.btn-label-dark:hover, a.btn.btn-label-dark.active,
  button.btn.btn-label-dark:focus,
  button.btn.btn-label-dark:hover,
  button.btn.btn-label-dark.active,
  input.btn.btn-label-dark:focus,
  input.btn.btn-label-dark:hover,
  input.btn.btn-label-dark.active {background-color:#282a3c;color:#ffffff;}

  .btn.btn-icon.btn-dark i {color:#ffffff;}
  .btn.btn-icon.btn-dark:focus i, .btn.btn-icon.btn-dark:hover i, .btn.btn-icon.btn-dark.active i {color:#ffffff;}