.btn-secondary {color:#212529;background-color:#e1e1ef;border-color:#e1e1ef;}
  .btn-secondary:hover {color:#212529;background-color:#c8c8e2;border-color:#c0c0dd;}
  .btn-secondary:focus, .btn-secondary.focus {box-shadow:0 0 0 0.2rem rgba(196, 197, 209, 0.5);}
  .btn-secondary.disabled, .btn-secondary:disabled {color:#212529;background-color:#e1e1ef;border-color:#e1e1ef;}
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {color:#212529;background-color:#c0c0dd;border-color:#b7b7d9;}
    .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-secondary.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(196, 197, 209, 0.5);}

.btn-outline-secondary {color:#e1e1ef;border-color:#e1e1ef;}
  .btn-outline-secondary:hover {color:#212529;background-color:#e1e1ef;border-color:#e1e1ef;}
  .btn-outline-secondary:focus, .btn-outline-secondary.focus {box-shadow:0 0 0 0.2rem rgba(225, 225, 239, 0.5);}
  .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {color:#e1e1ef;background-color:transparent;}
  .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-secondary.dropdown-toggle {color:#212529;background-color:#e1e1ef;border-color:#e1e1ef;}
    .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-secondary.dropdown-toggle:focus {box-shadow:0 0 0 0.2rem rgba(225, 225, 239, 0.5);}

.btn-secondary {background-color:transparent;border:1px solid #e2e5ec;color:#595d6e;}
  .show > .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {color:#595d6e;border-color:#e2e5ec;background-color:#f4f5f8;}

.btn.btn-outline-secondary {color:#74788d;}
  .show > .btn.btn-outline-secondary, .btn.btn-outline-secondary.active, .btn.btn-outline-secondary:active, .btn.btn-outline-secondary:hover {background-color:#e1e1ef;}